.mainContainer {
  display: flex;
}

.sidebar {
  height: 700px;
  position: sticky;
  top: 0;
  left: 0;
}
.contentContainer {
  width: auto;
  position: relative;
  display: grid;
}

.content {
  padding: 3rem;
  background-color: white !important;
}

.systemNavBar {
  width: 100%;
}
