.searchbody {
    font-family: Arial;
    box-sizing: border-box;
  }
  
  form.example1 input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example2 button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #2196F3;
    color: white;
    font-size: 10px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example3 button:hover {
    background: #0b7dda;
  }
  
  form.example4::after {
    content: "";
    clear: both;
    display: table;
  }