/* ----------------------------------------------------
    Breadcurmb Area
---------------------------------------------------- */
.ltn__breadcrumb-area-myprofilepage {
    background-color: #f4f4f4;
    margin-bottom: 120px;
    padding-top: 110px;
    padding-bottom: 110px;
    
    background-image: url(https://cdn.pixabay.com/photo/2016/11/23/15/03/medications-1853400_960_720.jpg);

    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .ltn__breadcrumb-list ul {
    margin: 0;
    padding: 0;
  }
  
  .ltn__breadcrumb-list ul li {
    display: inline-block;
    margin-right: 30px;
    position: relative;
    font-weight: 700;
  }
  
  .news-page-lowerbody {
    margin: 2%;
  }
  