.sidebar77 {
  height: 100%;
  padding: 15px;
  /* background-color: #C8B6A6; */
  background-color: #08781f;
}

.nav-item77 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
}

.customer-sidebar-abi .nav-link77 {
  color: #ffffff;
  font-weight: 550;
  display: flex;
  gap: 5px;
  text-align: center;
}

.nav-link77:hover {
  color: #fdd23e;
}

.active77 {
  color: #d6cddb !important;
}
